@import "@/style/sass/config";

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: space("m");
  flex-shrink: 0;
  padding: space("m");

  border-bottom: 1px solid color("black-300");
  background: color("black-0");
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media (min-width: 1200px) {
    flex-direction: row;
  }

  .hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1200px) {
      width: auto;
      justify-content: center;
      gap: space("m");

      &__slogan {
        display: none;
      }
    }

    &__button {
      display: none;

      &.subMenu {
        display: inline;
      }

      @media (min-width: 1200px) {
        display: flex;

        &.subMenu {
          display: none;
        }
      }
    }

    &__title {
      display: none;

      @media (min-width: 1200px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: space("m");

        &__icon {
          height: 56px;
          width: 56px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 99999px;

          background: color("indigo-500");
          color: color("black-0");
        }

        &__label {
          color: color("indigo-500");

          /* Subtitle */
          font-family: $fonttitle;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 175%;
          /* 28px */
        }
      }
    }
  }

  .content {
    display: none;

    &.show {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: space("m");
    }

    @media (min-width: 1200px) {
      width: fit-content;
      display: flex;
      flex-direction: column;
      gap: space("m");

      &.show {
        width: fit-content;
      }
    }

    .nav {
      display: flex;

      @media (min-width:1200px) {
        width: 150px;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 90px;
        right: 0;
        background-color: color("black-0");
        z-index: 1000;
        /* elevacao/4 */
        box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.06);

        &.sidebar {
          display: none;
        }
      }

      a {
        outline: none;
      }

      &__list {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    .line {
      width: 100%;
      border: 1px solid color("black-300");

      @media (min-width: 1200px) {
        display: none;
      }
    }

    .avatar {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;

      @media (min-width: 1200px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: space("m");
      }

      &__icon {
        color: color("black-300");
        cursor: pointer;
        transition: all ease-out 300ms;

        &:hover {
          color: color("indigo-500");
        }
      }

      &__user {
        display: flex;
        align-items: center;
        gap: space("p");

        .photo {
          border-radius: 9999px;
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          @media (min-width: 1200px) {
            display: none;
          }

          &__name {
            color: color("black-800");

            /* font/titulo/5 */
            font-family: $fonttitle;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
          }

          &__email {
            color: color("black-800");

            /* font/corpo/mini */
            font-family: $fontbody;
            font-size: 10px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px;
            /* 160% */
          }
        }
      }

      &__button {
        display: none;

        @media (min-width: 1200px) {
          display: flex;
          justify-content: center;
          align-items: center;

          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer;

          color: color("black-300");
        }
      }
    }
  }
}