@import "@/style/sass/config";

.sidebar {
  display: none;

  @media (min-width: 1200px) {
    width: 256px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: space("xg") 0px space("xg") 3px;

    border-left: 3px solid color("blue-50");
    background: color("indigo-300");
    transition: width 0.3s ease-in-out;

    &.closed {
      width: 72px;
    }

    .logo {
      transition: width 0.3s ease-in-out;
    }

    &__menu {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      padding-top: 140px;
      list-style: none;
      margin: 0;
    }
  }
}