@import "@/style/sass/config";

table,
th,
td {
  text-align: left;
  border-collapse: collapse;
}

.table {
  width: 100%;

  @media (max-width: 1000px) {
    td {
      min-width: 12rem;
    }
  }
}